## Without functions

In [22]:
### function means = creating the logic only once but we can call the function and execute the logic many times

In [1]:
print("Hello World")

Hello World

### With functions

In [3]:
def kamal():
    print("Hello World")

In [4]:
kamal()

Hello World

In [6]:
def kamal():
    print("Data science")
    print()
    print("machine learning")
    print()
    print("Computer vision")

In [7]:
kamal()

Data science

machine learning

Computer vision

## Without functions

In [11]:
a = 13
if a % 2 == 0:
    print("EVEN")
else:
    print("ODD")

ODD

In [10]:
a = 15
if a % 2 == 0:
    print("EVEN")
else:
    print("ODD")

ODD

In [12]:
a = 22
if a % 2 == 0:
    print("EVEN")
else:
    print("ODD")

EVEN

### With Function

In [17]:
def dhoni(f):  # i have to accept value 27 
    if f % 2 == 0:
        print("EVEN")
    else:
        print("ODD")

In [18]:
dhoni(27)  # calling and passing number 27

ODD

In [19]:
dhoni(51)

ODD

In [20]:
dhoni(10)

EVEN

In [21]:
dhoni(110)

EVEN

## return concept in functions

In [23]:
## I want to take 10 numbers from the user and i want to save those numbers in a list and i want to find the even and odd values i a list

In [24]:
a = int(input("enter a value "))

enter a value 15

In [ ]:
c = []
for i in range(10):
    a = int(input())
    c.append(a)
    
print(c)

In [26]:
c

[12, 15, 17, 22, 35, 76, 98, 11, 121, 134]

In [27]:
for i in c:
    if i % 2 == 0:
        print(i , '---> EVEN ')
    else:
        print(i , '--->odd')

12 ---> EVEN
15 --->odd
17 --->odd
22 ---> EVEN
35 --->odd
76 ---> EVEN
98 ---> EVEN
11 --->odd
121 --->odd
134 ---> EVEN

In [28]:
c = []
for i in range(10):
    a = int(input())
    c.append(a)
    
print(c)
print()

for i in c:
    if i % 2 == 0:
        print(i , '---> EVEN ')
    else:
        print(i , '--->odd')

7
1
34
23
67
88
99
10
13
14
[7, 1, 34, 23, 67, 88, 99, 10, 13, 14]

7 --->odd
1 --->odd
34 ---> EVEN
23 --->odd
67 --->odd
88 ---> EVEN
99 --->odd
10 ---> EVEN
13 --->odd
14 ---> EVEN

### take 2 numbers and find sum and product

In [29]:
## without functions 


a = 3 
b = 5

print("sum ",a + b)

print()

print("MUL = ", a * b)

sum  8

MUL =  15

In [30]:
## without functions 


a = 4
b = 7

print("sum ",a + b)

print()

print("MUL = ", a * b)

sum  11

MUL =  28

In [32]:
## with functions 

def kohli(a,b):
    print("sum ",a + b)
    print()
    print("MUL = ", a * b)

In [33]:
kohli(3,5)

sum  8

MUL =  15

In [34]:
### with function and return keyword 

def rohitsharma(a,b):  # a = 3 , b = 5
    kamal = a+b  #8
    vimal = a * b # 15
    
    return kamal , vimal

In [35]:
rohitsharma(3,5)

(8, 15)

In [36]:
R , T = rohitsharma(10,20)

print("sum ->" , R)
print("MUL-->",T)

sum -> 30
MUL--> 200

In [37]:
def details(name , age , des):
    print(name)
    print()
    print(age)
    print()
    print(des)

In [38]:
details(name = 'kamal' , age = 25 , des = 'CV')

kamal

25

CV

In [44]:
def kamal(b):
    for i in e:
        print(i)

In [45]:
e = [10,20,30,40,50]

kamal(e)

10
20
30
40
50

In [46]:
def hero(y):  # it matter which variable is accepting 
    for i in y:
        print(i)

In [47]:
t = [10,20,30,40,50]
hero(t)

10
20
30
40
50