## Data Type

- Integer (int)
- Float (float)
- string (str)

In [3]:
a = 12
print(a)
print(type(a))

12
<class 'int'>

In [4]:
a = 12
print(a)
print()
print(type(a))

12

<class 'int'>

In [5]:
a = 24.5
print(a)
print(type(a))

24.5
<class 'float'>

In [6]:
a = 'kamal'
print(a)
print(type(a))

kamal
<class 'str'>

## Variables

- Rool = 1  --->      variable should not start with a number

In [7]:
kamal = 'vinay'
print(kamal)

vinay

In [8]:
12kamal = 'vinay'
print(12kamal)

SyntaxError: invalid syntax (Temp/ipykernel_19372/4168381338.py, line 1)

In [10]:
kamal12 = 'vinay'
print(kamal12)

vinay

In [13]:
_12kamal = 'teja'
print(_12kamal)

teja

- Rool Number 2 -----> should not have space between names instead use '_' score

In [14]:
kamal sai teja = 12
print(kamal sai teja)

SyntaxError: invalid syntax (Temp/ipykernel_19372/1919459014.py, line 1)

In [16]:
kamalsaiteja = 12
print(kamalsaiteja)

12

In [17]:
kamal_sai_teja = 12
print(kamal_sai_teja)

12

- Rool no 3   -> variables will follow case sensitive pls mention clearlly

In [18]:
a = 34
print(a)

34

In [19]:
a = 56
print(A)

NameError: name 'A' is not defined

In [20]:
saiKm = 45.5
print(saikm)

NameError: name 'saikm' is not defined

In [28]:
A = 'kamal'
print(A)

kamal

In [29]:
a = 45
print(A)

kamal

###  cannot use this symbols as varibales special charachets !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~

In [24]:
# !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~

In [25]:
& = 12
print(&)

SyntaxError: invalid syntax (Temp/ipykernel_19372/1691804849.py, line 1)

In [26]:
_& = 12
print(_&)

SyntaxError: invalid syntax (Temp/ipykernel_19372/4200825277.py, line 1)

In [27]:
kamal& = 12
print(kamal&)

SyntaxError: invalid syntax (Temp/ipykernel_19372/351313602.py, line 1)

### Conversions

# int to float conversions

In [30]:
a = 12
print(a)
print(type(a))

12
<class 'int'>

In [31]:
a = 12
print(a)
print(type(a))
print()
b = float(a)
print(b)
print(type(b))

12
<class 'int'>

12.0
<class 'float'>

### float to integer

In [33]:
a = 98.9
print(a)
print(type(a))
print()
b = int(a)
print(b)
print(type(b))

98.9
<class 'float'>

98
<class 'int'>

## converting int and float to string

In [34]:
a = 12
print(a)
print(type(a))
print()
b = str(a)
print(b)
print(type(b))

12
<class 'int'>

12
<class 'str'>

In [35]:
f = 12
str(f)

'12'

In [36]:
f = 12.56
str(f)

'12.56'

In [39]:
a = 12.3
print(str(a))

12.3

### converting string to int

In [42]:
a = '1256'
print(a)
print(type(a))
print()
b = int(a)
print(b)
print(type(b))

1256
<class 'str'>

1256
<class 'int'>

In [43]:
a = 'kamal'
print(a)
print(type(a))
print()
b = int(a)
print(b)
print(type(b))

kamal
<class 'str'>

ValueError: invalid literal for int() with base 10: 'kamal'

In [44]:
a = 'kamal123'
print(a)
print(type(a))
print()
b = int(a)
print(b)
print(type(b))

kamal123
<class 'str'>

ValueError: invalid literal for int() with base 10: 'kamal123'

In [45]:
a = '1256.7'
print(a)
print(type(a))
print()
b = float(a)
print(b)
print(type(b))

1256.7
<class 'str'>

1256.7
<class 'float'>

In [46]:
a = '1256.7kamal'
print(a)
print(type(a))
print()
b = int(a)
print(b)
print(type(b))

1256.7kamal
<class 'str'>

ValueError: invalid literal for int() with base 10: '1256.7kamal'

In [47]:
a = '12.4'
print(a)
b = float(a)
print(b)
c = int(b)
print(c)

12.4
12.4
12

### Operators

- +  (add)
- -  (sub)
- *  (mul)
- /  (div)
- // (floor division)
- %  (mod function)
- =  
- == 
- >
- <
- >=
- <=
- !  (not equal to)

In [48]:
1 + 2

3

In [49]:
2 - 1

1

In [50]:
2 * 10

20

In [51]:
10 / 2

5.0

In [52]:
12 / 5

2.4

In [53]:
12 // 5

2

In [54]:
10 % 5

0

In [55]:
12 % 5

2

In [56]:
12 / 5

2.4

In [57]:
a = 12
a

12

In [58]:
12 == 10

False

In [59]:
10 == 10

True

In [60]:
5 > 10

False

In [61]:
5 < 10

True

In [62]:
5 >= 10

False

In [63]:
5 <= 10

True

In [64]:
10 != 5

True

In [66]:
5/2 == 10 + 2

False

## Rules to add variable and print condition

In [67]:
print('bdvilasdgbviabsdivaidvbhaifhviahdfivbhab')

bdvilasdgbviabsdivaidvbhaifhviahdfivbhab

- using comma (,)

In [68]:
a = 25
print('My name is kamal and My age is',a)

My name is kamal and My age is 25

In [70]:
a = 25
b = 'kamal'
c = 40.0



print('My name is',b,'and my age is',a,'and currency value is',c)

My name is kamal and my age is 25 and currency value is 40.0

## rool no 2  using (+)

In [74]:
a = 25
print('My name is kamal and My age is'+a)

TypeError: can only concatenate str (not "int") to str

In [75]:
a = 25
print('My name is kamal and My age is'+str(a))

My name is kamal and My age is25

In [77]:
a = 25
b = 'kamal'
c = 40.0



print('My name is'+b+'and my age is'+str(a)+'and my currency is'+str(c))

My name iskamaland my age is25and my currency is40.0

In [78]:
a = 25
b = 'kamal'
c = 40.0



print('My name is '+b+' and my age is '+str(a)+' and my currency is '+str(c))

My name is kamal and my age is 25 and my currency is 40.0

In [81]:
a = 25
b = 'kamal'
c = 40.0



print("My name is"+' '+b+' '+'and my age is'+' '+str(a))

My name is kamal and my age is 25

## rool num 3 using %

In [82]:
# int (%d)
# float (%f)
# string (%s)

In [83]:
a = 25



print('%d is my age'%a)

25 is my age

In [84]:
a = 25
b = 40.0

print('My age is %d and my curreny is %f'%(a,b))

My age is 25 and my curreny is 40.000000

In [86]:
a = 25
b = 'kamal'

print('My age is %d and my curreny is %f'%(b,a))

TypeError: %d format: a number is required, not str

- fomart technique

In [87]:
a = 25


print("My age is {}".format(a))

My age is 25

In [90]:
a = 25
b = 'kamal'

print('My name is {} and my age is {}'.format(b,a))

My name is kamal and my age is 25

In [88]:
a = 25
b = 'kamal'

print('My name is {} and my age is {}'.format(a,b))

My name is 25 and my age is kamal

## f symbol

In [91]:
a = 25

print(f'My age is {a}')

My age is 25

In [92]:
a = 25
b = 'kamal'

print(f'My name is {b} and my age is {a}')

My name is kamal and my age is 25